<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                © 2018 ExclusiveSMS</i> Designed by <i>Hacky</i>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
<script src="js/jquery.bg.js"></script>
<script src="js/jquery.backstretch.js"></script>
<script type="text/javascript">
    $.backstretch([
      "images/pot-holder.jpg",
      "images/coffee.jpg",
      "images/dome.jpg"
    ], {
        fade: 750,
        duration: 4000
    });
</script>