<!-- partials/head -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>ExclusiveSMS - Dashboard</title> 
    <meta content="Admin Dashboard" name="description" />
    <meta content="Kirti" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">

    <!--page css-->
    <link href="/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet" />

    <!-- App css -->
    <link href="/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/jtable.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/Jtable/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="plugins/form-validation/formValidation.min.css" type="text/css">
    
    <!--<link href="/css/jtable_jqueryui.css" rel="stylesheet" type="text/css" />-->
    <!--<link rel="stylesheet" href="css/Jtable/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/Jtable/jtable.css" type="text/css">-->





</head>