<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %> 

    <body> 

        <% include ../partials/user_nav %>

        <div class="wrapper" style="">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-30">
                            <div class="card-body">
								 <div id='main_page_content'>
                                    <div class="row">
                                        <div class="col-xl-6">
                                                <div class="card m-b-30" style="border: 1px solid #f0eded;border-radius:4px;">
                                                    <div class="card-body">
                                                        <h4 class="mt-0 header-title" style="border-bottom: 1px solid #f6f5f5;padding-bottom: 4px;">
                                                            Campaign Details
                                                        </h4>

                                                        <div class="row text-center m-t-20">
                                                            <div class="col-6">
                                                                <h5 class="">12</h5>
                                                                <p class="text-muted font-14">Total Campaign</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <h5 class="">6</h5>
                                                                <p class="text-muted font-14">Completed Campaign</p>
                                                            </div>
                                                        </div>
                                                        <div class="row text-center m-t-20">
                                                            <div class="col-6">
                                                                <h5 class="">6</h5>
                                                                <p class="text-muted font-14">Pending Campaign</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <h5 class="">1</h5>
                                                                <p class="text-muted font-14">Failed Campaign</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="card m-b-30" style="border: 1px solid #f0eded;border-radius:4px;">
                                                    <div class="card-body">
                                                        <h4 class="mt-0 header-title" style="border-bottom: 1px solid #f6f5f5;padding-bottom: 4px;">
                                                            SMS Details
                                                        </h4>

                                                        <div class="row text-center m-t-20">
                                                            <div class="col-6">
                                                                <h5 class="">100</h5>
                                                                <p class="text-muted font-14">Total Quick SMS</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <h5 class="">16</h5>
                                                                <p class="text-muted font-14">Total Bulk SMS</p>
                                                            </div>
                                                        </div>
                                                        <div class="row text-center m-t-20">
                                                            <div class="col-6">
                                                                <h5 class="">12</h5>
                                                                <p class="text-muted font-14">Failed Quick SMS</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <h5 class="">6</h5>
                                                                <p class="text-muted font-14">Failed Bulk Campaign</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-top:10px;">
                                            <div class="col-xl-6">
                                                <div class="card m-b-30" style="border: 1px solid #f0eded;border-radius:4px;">
                                                    <div class="card-body">
                                                        <h4 class="mt-0 header-title" style="border-bottom: 1px solid #f6f5f5;padding-bottom: 4px;">
                                                             Today's Push Count
                                                        </h4>

                                                        <div class="row text-center m-t-20">
                                                            <div class="col-6">
                                                                <h5 class="">40</h5>
                                                                <p class="text-muted font-14">Sent Messages</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <h5 class="">10</h5>
                                                                <p class="text-muted font-14">In Queue</p>
                                                            </div>
                                                        </div>
                                                        <div class="row text-center m-t-20">
                                                            <div class="col-6">
                                                                <h5 class="">6</h5>
                                                                <p class="text-muted font-14">Send Successfully</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <h5 class="">1</h5>
                                                                <p class="text-muted font-14">Sent Failed</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="card m-b-30" style="border: 1px solid #f0eded;border-radius:4px;">
                                                    <div class="card-body">
                                                        <h4 class="mt-0 header-title" style="border-bottom: 1px solid #f6f5f5;padding-bottom: 4px;">
                                                             Balance Details
                                                        </h4>

                                                        <div class="row text-center m-t-20">
                                                            <div class="col-6">
                                                                <h5 class="">100</h5>
                                                                <p class="text-muted font-14">Available Balance</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <h5 class="">16</h5>
                                                                <p class="text-muted font-14">Total Used</p>
                                                            </div>
                                                        </div>
                                                        <div class="row text-center m-t-20">
                                                            <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
                                                                <h5 class="">12</h5>
                                                                <p class="text-muted font-14">Balance On 14-05-2018</p>
                                                            </div>
                                                            <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
                                                                <h5 class="">6</h5>
                                                                <p class="text-muted font-14">Balance On 15-05-2018</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="padding-top:10px;">
                                            <div class="col-xl-6">
                                                <div class="card m-b-30" style="border: 1px solid #f0eded;border-radius:4px;">
                                                    <div class="card-body">
                                                        <h4 class="mt-0 header-title" style="border-bottom: 1px solid #f6f5f5;padding-bottom: 4px;">
                                                              Account Information
                                                        </h4>

                                                        <div class="row text-center m-t-20">
                                                            <div class="col-6">
                                                                <h5 class="">KIRTI</h5>
                                                                <p class="text-muted font-14">Name</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <h5 class="">2018-08-03</h5>
                                                                <p class="text-muted font-14">Registered User Since</p>
                                                            </div>
                                                        </div>
                                                        <div class="row text-center m-t-20">
                                                            <div class="col-6">
                                                                <h5 class="">2028-07-31</h5>
                                                                <p class="text-muted font-14">Account Expires On</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <h5 class="">201</h5>
                                                                <p class="text-muted font-14">SMS Gateway Details</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="card m-b-30" style="border: 1px solid #f0eded;border-radius:4px;">
                                                    <div class="card-body">
                                                        <h4 class="mt-0 header-title" style="border-bottom: 1px solid #f6f5f5;padding-bottom: 4px;">
                                                            Last Login Details
                                                        </h4>

                                                        <div class="row text-center m-t-20">

                                                            <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
                                                                <h5 class="">203.192.241.220</h5>
                                                                <p class="text-muted font-14">Current Login IP Address</p>
                                                            </div>
                                                            <div class="col-6">
                                                                <h5 class="">157.49.238.240</h5>
                                                                <p class="text-muted font-14">Last Login IP Address</p>
                                                            </div>
                                                        </div>
                                                        <div class="row text-center m-t-20">
                                                            <div class="col-8">
                                                                <h5 class="">2018-10-22 12:04:49</h5>
                                                                <p class="text-muted font-14">Last Login Date</p>
                                                            </div>
                                                            <div class="col-6" style="padding-left: 0px;padding-right: 0px;">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div style='clear:both'></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div> <!-- end container -->
        </div>
        <!-- end wrapper -->


        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>

</html>